<ion-view title="Usuarios">

    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-person-add" ng-click="newUser()"></button>
    </ion-nav-buttons>

      <ion-content>

        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="search.nome">
          </label>
        </div>

        <ion-list>
          <ion-item ng-repeat="usuario in usuarios | filter:search | orderBy:'-nome'"> <!-- x -->
            <h2>{{usuario.nome}}</h2>
            <p>{{usuario.email}}</p>
            <p>{{usuario.endereco.cidade}}</p>

            <ion-option-button class="button-assertive">
              <i class="icon ion-trash-a"></i> Apagar
            </ion-option-button>

            <ion-option-button class="button-positive">
              <i class="icon ion-edit"></i> Editar
            </ion-option-button>

          </ion-item>
        </ion-list>

      </ion-content>

</ion-view>